body {
    background-color: rgb(64, 73, 248);
    color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
}
h1 {
    color: black;
    font-size: 40px;
}
p {
    font-size: 25px;
}
header {
    border-bottom: blue;
    margin: 2px;
    padding: 10px;
    color: greenyellow;
}

.chamada {
background: rgb(237, 100, 210);
padding: 80px 0;
display: flex;
justify-content: center;
}

.chamada-texto {
margin-right: 8%;
}

img {
height: 200px;
}

.categoria-video {
display: flex;
overflow-x: auto; /* permite rolagem horizontal */
gap: 15px; /* espaço entre vídeos */
padding: 20px;
scroll-behavior: smooth; /* rolagem suave */
}

.categoria-video::-webkit-scrollbar {
height: 8px;
}

.categoria-video::-webkit-scrollbar-thumb {
background-color: rgb(21, 189, 35);
border-radius: 4px;
}
.categoria {
padding-left: 20px;
padding-right: 20px;
}